/**
 * Welcome to your Hyvä Theme!
 *
 * This is the main entry file for your theme's CSS, processed by Tailwind CSS.
 *
 * If you're new to TailwindCSS, get started with the official documentation:
 * https://tailwindcss.com/
 *
 * To learn about creating a Hyvä Theme, check out the build guide:
 * https://docs.hyva.io/hyva-themes/building-your-theme/index.html
 *
 * For Hyvä-specific topics, such as merging module CSS or using design tokens,
 * please refer to the documentation:
 * https://docs.hyva.io/hyva-themes/working-with-tailwindcss/index.html
 */

@import "@hyva-themes/hyva-modules/css";
@import "tailwindcss" source(none);
@source "../../**/*.phtml";
@source "../../**/*.xml";

/* Custom styles */
@import "../../../../hyva-themes/magento2-default-theme/web/tailwind/base";
@import "../../../../hyva-themes/magento2-default-theme/web/tailwind/components";
@import "../../../../hyva-themes/magento2-default-theme/web/tailwind/theme";
@import "../../../../hyva-themes/magento2-default-theme/web/tailwind/utilities";


/* Import generated styles for Hyvä Compatible Modules and Design Tokens */
@import "./generated/hyva-source.css";
@import "./generated/hyva-tokens.css";

@theme {
    --color-bg: var(--color-slate-50);
    --color-fg: var(--color-slate-950);
    --color-fg-secondary: var(--color-slate-600);
    --color-surface: var(--color-white);
}

@import "./openpos-styles.css";
